PORT=8000
MONGODB_URI=mongodb://shashi_user_07:shukla07052004@ac-ylnfamr-shard-00-00.1zzcids.mongodb.net:27017,ac-ylnfamr-shard-00-01.1zzcids.mongodb.net:27017,ac-ylnfamr-shard-00-02.1zzcids.mongodb.net:27017/?ssl=true&replicaSet=atlas-midfj4-shard-0&authSource=admin&appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=  
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=